---
http:
  socket: "[::]:3332"
  tls:
    server_cert_file:
    server_key_file:
    ca_cert_file:

node_stats:
  bandwidth:
    tx_file: /sys/class/net/eth0/statistics/tx_bytes
    rx_file: /sys/class/net/eth0/statistics/rx_bytes
    update_interval: 2s
